.para{
    margin-top: 7%;
    margin-left: 38%;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}

header{
  background-size: auto;
  background-color: rgb(245, 12, 214);
  height: 90px;
  
}
.t{
    margin-top: 5px;
  font-size: 40px;
  text-align: center;
}
.addbtn{
    margin-top: 30px;
    margin-left: 66%;
    width: 5%;
    height: 38px;
    background-color:rgba(128, 19, 179, 0.651);
    border-radius: 6px;
}
.inpt {
    margin-left: 38%;
    width: 30%;
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: inherit;
    font-size: 1em;
    line-height: 3;
    padding: 0.6em 1.45em 0.7em;
  }
  .inpt:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }
  .inpt:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  .fit{
    background-color: rgb(97, 17, 86);
    height: 25px;
}