header{
    margin-top: 20px;
      background-size: auto;
      background-color: rgb(245, 12, 214);
      height: 90px;
      
    }
  .t{
      margin-top: 5px;
      font-size: 40px;
      text-align: center;
    }
  
  .usr{
      position: relative;
      margin-top: 10%;
      left: 42%;
      font-weight: bolder;
      
  }
  input{
      margin-top: px;
      margin-left: 800px;
      background: #fff;
      color: #525865;
      border-radius: 4px;
      border: 1px solid #d1d1d1;
      box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
      font-family: inherit;
      font-size: 1em;
      line-height: 1.45;
      outline: none;
      padding: 0.6em 1em 0.3em;
      width: 12%;
      
  }
  .startbtn{
      margin-top: 50px;
      margin-left: 46.5%;
      padding: 10px;
      background-color:rgba(128, 19, 179, 0.651);
      border-radius: 10px;
      box-shadow: 10px 15px 17px 1px#52586573;
  }
  .fit{
    background-color: rgb(97, 17, 86);
    height: 25px;
  }